In [1]:
import ibm_db
import ibm_db_sa
import sqlalchemy
import pandas
import ibm_db_dbi
import csv, sqlite3

In [2]:
%load_ext sql

In [3]:
%sql ibm_db_sa://xxxxxxxxxxxxxxxxxxxxxxxxxxxx.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:30756/bludb;security=SSL;

In [4]:
import csv, sqlite3

con = sqlite3.connect("SPACEX")
cur = con.cursor()

In [5]:
%sql select * from SPACEX limit 10

 * ibm_db_sa://dpj01030:***@2f3279a5-73d1-4859-88f0-a6c3e6b4b907.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:30756/bludb;security=SSL;
Done.

[(None, datetime.time(18, 45), 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 (None, datetime.time(15, 43), 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 (None, datetime.time(7, 44), 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 (None, datetime.time(0, 35), 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 (None, datetime.time(15, 10), 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 (None, datetime.time(16, 0), 'F9 v1.1  B1003', 'VAFB SLC-4E', 'CASSIOPE', 500, 'Polar LEO', 'MDA', 'Success', 'Uncontrolled (ocean)'),
 (None, datetime.time(22, 41), 'F9 v1.1', 'CCAFS LC-40', 'SES-8', 3170, 'GTO', 'SES', 'Success', 'No attempt'),
 (None, datetime.time(22, 6), 'F9 v1.1', 'CCAFS LC-40', 'Thaicom 6', 3325, 'GTO', 'Thaicom', 'Success', 'No attempt'),
 (None, datetime.time(19, 25), 'F9 v1.1', 'CCAFS LC-40', 'SpaceX CRS-3', 2296, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'Controlled (ocean)'),
 (None, datetime.time(15, 15), 'F9 v1.1', 'CCAFS LC-40', 'OG2 Mission 1  6 Orbcomm-OG2 satellites', 1316, 'LEO', 'Orbcomm', 'Success', 'Controlled (ocean)')]

In [6]:
# Task 1
# Display the names of the unique launch sites in the space mission

%sql select DISTINCT Launch_Site from SPACEX

 * ibm_db_sa://dpj01030:***@2f3279a5-73d1-4859-88f0-a6c3e6b4b907.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:30756/bludb;security=SSL;
Done.

[('CCAFS LC-40',), ('CCAFS SLC-40',), ('KSC LC-39A',), ('VAFB SLC-4E',)]

In [7]:
# Task 2
# Display 5 records where launch sites begin with the string 'CCA'

%sql select * from SPACEX WHERE Launch_Site LIKE 'CCA%' limit 5

 * ibm_db_sa://dpj01030:***@2f3279a5-73d1-4859-88f0-a6c3e6b4b907.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:30756/bludb;security=SSL;
Done.

[(None, datetime.time(18, 45), 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 (None, datetime.time(15, 43), 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 (None, datetime.time(7, 44), 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 (None, datetime.time(0, 35), 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 (None, datetime.time(15, 10), 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')]

In [8]:
# Task 3

# Display the total payload mass carried by boosters launched by NASA (CRS)
%sql select SUM(payload_mass__kg_) from SPACEX where customer like '%NASA (CRS)%'

 * ibm_db_sa://dpj01030:***@2f3279a5-73d1-4859-88f0-a6c3e6b4b907.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:30756/bludb;security=SSL;
Done.

[(48213,)]

In [30]:
# Task 4

# Display average payload mass carried by booster version F9 v1.1

%sql select avg(payload_mass__kg_) AS averagePayloadMass from SPACEX where booster_version like '%F9 v1.1%'

 * ibm_db_sa://dpj01030:***@2f3279a5-73d1-4859-88f0-a6c3e6b4b907.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:30756/bludb;security=SSL;
Done.

[(2534,)]

In [46]:
# Task 5
# list the date when the first succesful landing outcome in ground pad was acheived.

%sql SELECT landing__outcome, DATE as DD from spacex

 * ibm_db_sa://dpj01030:***@2f3279a5-73d1-4859-88f0-a6c3e6b4b907.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:30756/bludb;security=SSL;
Done.

[('Failure (parachute)', None),
 ('Failure (parachute)', None),
 ('No attempt', None),
 ('No attempt', None),
 ('No attempt', None),
 ('Uncontrolled (ocean)', None),
 ('No attempt', None),
 ('No attempt', None),
 ('Controlled (ocean)', None),
 ('Controlled (ocean)', None),
 ('No attempt', None),
 ('No attempt', None),
 ('Uncontrolled (ocean)', None),
 ('Failure (drone ship)', None),
 ('Controlled (ocean)', None),
 ('No attempt', None),
 ('Failure (drone ship)', None),
 ('No attempt', None),
 ('Precluded (drone ship)', None),
 ('Success (ground pad)', None),
 ('Failure (drone ship)', None),
 ('Failure (drone ship)', None),
 ('Success (drone ship)', None),
 ('Success (drone ship)', None),
 ('Success (drone ship)', None),
 ('Failure (drone ship)', None),
 ('Success (ground pad)', None),
 ('Success (drone ship)', None),
 ('Success (drone ship)', None),
 ('Success (ground pad)', None),
 ('No attempt', None),
 ('Success (drone ship)', None),
 ('Success (ground pad)', None),
 ('No attempt', None),
 ('Success (ground pad)', None),
 ('Success (drone ship)', None),
 ('Success (drone ship)', None),
 ('No attempt', None),
 ('Success (ground pad)', None),
 ('Success (drone ship)', None),
 ('Success (ground pad)', None),
 ('Success (drone ship)', None),
 ('Success (drone ship)', None),
 ('Success (drone ship)', None),
 ('Success (ground pad)', None),
 ('Controlled (ocean)', None),
 ('Success (ground pad)', None),
 ('Controlled (ocean)', None),
 ('No attempt', None),
 ('No attempt', None),
 ('No attempt', None),
 ('No attempt', None),
 ('Success (drone ship)', None),
 ('Success (drone ship)', None),
 ('No attempt', None),
 ('No attempt', None),
 ('No attempt', None),
 ('Success', None),
 ('Success', None),
 ('Success', None),
 ('Success', None),
 ('Success', None),
 ('Success', None),
 ('Success', None),
 ('Failure', None),
 ('No attempt', None),
 ('Success', None),
 ('Success', None),
 ('Success', None),
 ('Success', None),
 ('Success', None),
 ('Success', None),
 ('Success', None),
 ('No attempt', None),
 ('Success', None),
 ('Success', None),
 ('Success', None),
 ('Success', None),
 ('No attempt', None),
 ('Success', None),
 ('Failure', None),
 ('Success', None),
 ('Failure', None),
 ('Success', None),
 ('Success', None),
 ('Success', None),
 ('Success', None),
 ('Success', None),
 ('Success', None),
 ('Success', None),
 ('Success', None),
 ('Success', None),
 ('Success', None),
 ('Success', None),
 ('Success', None),
 ('Success', None),
 ('Success', None),
 ('Success', None),
 ('Success', None),
 ('Success', None),
 ('Success', None)]

In [34]:
# Task 6
# List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

%sql select booster_version	 from spacex where landing__outcome like 'Success (drone ship)%' and payload_mass__kg_ > 4000 and payload_mass__kg_ < 6000

 * ibm_db_sa://dpj01030:***@2f3279a5-73d1-4859-88f0-a6c3e6b4b907.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:30756/bludb;security=SSL;
Done.

[('F9 FT B1022',), ('F9 FT B1026',), ('F9 FT  B1021.2',), ('F9 FT  B1031.2',)]

In [12]:
# Task 7
# List the total number of successful and failure mission outcomes
%sql select mission_outcome	, count (mission_outcome) from spacex group by mission_outcome

 * ibm_db_sa://dpj01030:***@2f3279a5-73d1-4859-88f0-a6c3e6b4b907.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:30756/bludb;security=SSL;
Done.

[('Failure (in flight)', 1),
 ('Success', 99),
 ('Success (payload status unclear)', 1)]

In [24]:
# Task 8
# List the names of the booster_versions which have carried the maximum payload mass. Use a subquery¶


%sql select booster_version, payload_mass__kg_ from spacex where payload_mass__kg_ = (select max(payload_mass__kg_) from spacex)

 * ibm_db_sa://dpj01030:***@2f3279a5-73d1-4859-88f0-a6c3e6b4b907.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:30756/bludb;security=SSL;
Done.

[('F9 B5 B1048.4', 15600),
 ('F9 B5 B1049.4', 15600),
 ('F9 B5 B1051.3', 15600),
 ('F9 B5 B1056.4', 15600),
 ('F9 B5 B1048.5', 15600),
 ('F9 B5 B1051.4', 15600),
 ('F9 B5 B1049.5', 15600),
 ('F9 B5 B1060.2', 15600),
 ('F9 B5 B1058.3', 15600),
 ('F9 B5 B1051.6', 15600),
 ('F9 B5 B1060.3', 15600),
 ('F9 B5 B1049.7', 15600)]

In [28]:
%sql select DISTINCT landing__outcome from SPACEX

 * ibm_db_sa://dpj01030:***@2f3279a5-73d1-4859-88f0-a6c3e6b4b907.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:30756/bludb;security=SSL;
Done.

[('Controlled (ocean)',),
 ('Failure',),
 ('Failure (drone ship)',),
 ('Failure (parachute)',),
 ('No attempt',),
 ('Precluded (drone ship)',),
 ('Success',),
 ('Success (drone ship)',),
 ('Success (ground pad)',),
 ('Uncontrolled (ocean)',)]

In [27]:
# Task 9
# List the records which will display the month names, failure landing_outcomes in drone ship, 
# booster versions, launch_site for the months in year 2015.
# Note: SQLLite does not support monthnames. So you need to use substr(Date, 4, 2) as 
# month to get the months and substr(Date,7,4)='2015' for year.

%sql select landing__outcome, booster_version, launch_site, DATE from spacex where Landing_Outcome = 'Failure (drone ship)' and DATE like '%2015'

 * ibm_db_sa://dpj01030:***@2f3279a5-73d1-4859-88f0-a6c3e6b4b907.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:30756/bludb;security=SSL;
(ibm_db_dbi.ProgrammingError) ibm_db_dbi::ProgrammingError: SQLNumResultCols failed: [IBM][CLI Driver][DB2/LINUXX8664] SQL0206N  "LANDING_OUTCOME" is not valid in the context where it is used.  SQLSTATE=42703\r SQLCODE=-206
[SQL: select landing__outcome, booster_version, launch_site, DATE from spacex where Landing_Outcome = 'Failure (drone ship)' and DATE like '%2015']
(Background on this error at: http://sqlalche.me/e/f405)

In [23]:
# Task 10
# Rank the count of successful landing_outcomes between the date 04-06-2010 and 20-03-2017 in descending order.

%sql select count(*), landing__outcome, STR_TO_DATE(DATE, '%d-%m-%Y') as DD from spacex group by Landing_Outcome #where DD >  '2010-06-04' #between '2010-06-04'

 * ibm_db_sa://dpj01030:***@2f3279a5-73d1-4859-88f0-a6c3e6b4b907.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:30756/bludb;security=SSL;
(ibm_db_dbi.ProgrammingError) ibm_db_dbi::ProgrammingError: SQLNumResultCols failed: [IBM][CLI Driver][DB2/LINUXX8664] SQL0104N  An unexpected token "#where" was found following "p by Landing_Outcome".  Expected tokens may include:  "NPS_DOUBLE_DOT".  SQLSTATE=42601\r SQLCODE=-104
[SQL: select count(*), landing__outcome, STR_TO_DATE(DATE, '%d-%m-%Y') as DD from spacex group by Landing_Outcome #where DD > '2010-06-04' #between '2010-06-04']
(Background on this error at: http://sqlalche.me/e/f405)